{% extends "pizzas/base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>Pizzas | Edit Toppings</title>
    <meta charset="utf-8">
    <meta name="language" content="pl-PL">
</head>

<body>
    {% block content %}

    <p>Change your toppings</p>
    <br><br>
    <h3>Pizza: {{ pizza }}</h3>
    <br>

    <form action="{% url 'pizzas:edit_toppings' topping.id%}" method="POST">
        <!-- {% for top in topping.TOPPINGS_CHOICES %} {% for pos in top %}
        <input type="checkbox">{{ pos }}
        <br><br> {% empty %}
        <p>Brak wybranych dodatków do pizzy</p>
        {% endfor %} {% endfor %} -->
        {% for pos in top %}
        <input type="checkbox">{{ pos }}
        <br><br> {% empty %}
        <p>Brak wybranych dodatków do pizzy</p>
        {% endfor %}
    </form>

    {% endblock content %}
</body>

</html>